@model DisneyParkBooking.Data.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerRef.IdCardPan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelRef.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
